<%- include('./includes/head') %> 
<body>
    <%- include('./includes/nav') %> 

    <!-- ADMIN REQUESTS -->

    <!-- STATS - NO. OF ORDERS, NO. OF SALES, REVENUE -->

    <!-- SALES CHART -->

    <%- include('./includes/footer') %> 
</body>
</html>