<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete order</title>
</head>
<body>
    <center>
        Are you sure you want to delete this order?
        <form action="/order/delete/<%= locals.orderId %> " method="post">
        <button type="submit">Delete</button>
        <a id="back" href="">Go back</a>
        </form>
    </center>
    <script>
        document.querySelector('#back').href = document.referrer
    </script>
</body>
</html>