<nav class="navbar navbar-expand-lg navbar-light bg-primary text-primary mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-toggle="collalpse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="dropdown">
          <a
            class="dropdown nav-link text-light font-weight-bold"
            aria-current="page"
            href="/admin"
            >Home</a
          >
        </li>

        <a class="nav-link text-light font-weight-bold" href="/admin/categories"
          >Categories</a
        >
        <a class="nav-link text-light font-weight-bold" href="/admin/products"
          >Products</a
        >
      </div>
    </div>
  </div>
</nav>
