<%- include('../includes/head') %> 
<body>
    <%- include('../includes/nav') %> 
    <div class="container">
    <h3>Choose a category for your product</h3>
      <form action="/admin/products/create/category" method="post">
        <select class="input-group p-2" name="category" id="">
          <% categories.forEach((category) => { %>
          <option value="<%=category.name%>"><%=category.name%></option>
          <% }) %>
        </select>
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
