<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose category</title>
</head>
<body>
    <h3>Choose a category for your product</h3>
    <form action="/admin/products/create/category" method="post">
        <select name="category" id="">
            <% categories.forEach((category) => { %>
                <option value="<%=category.name%>"><%=category.name%></option>
            <% }) %> 
        </select>
        <input type="submit">
    </form>
</body>
</html>