<%- include('../includes/head') %> 
<body>
    <%- include('../includes/nav') %> 
    <div class="container">
        <h4>Add images for your product</h4>
        <form action="/admin/products/images/<%= locals.productId %>" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <input type="file" name="images" multiple id="image-input">
                <div id="images"></div>
            </div>
                <button class="btn btn-primary" type="submit">Upload</button>
        </form>
    </div>    

    <script>
        const input = document.querySelector('#image-input')
        const images = document.querySelector('#images')
        input.addEventListener('change', () => {
            images.innerHTML = ''
            for(let i =0, l=input.files.length; i<l;i++){
                let img = document.createElement('img')
                img.classList.add('add-product-img')
                const url = URL.createObjectURL(input.files[i])
                img.src = url
                images.appendChild(img)
            }
        })
    </script>
</body>
</html>