<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product images - </title>
</head>
<body>
    <h4>Add images for your product</h4>
    <form action="/products/images/123" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <input type="file" name="images" multiple id="">
            <button type="submit">Upload</button>
        </div>
    </form>
</body>
</html>